extends ../layouts/main.pug

block content
	form(action="/labels" method="POST")
		legend.m-b-1.text-xs-center Создать метку
		.form-group.input-group
			input.form-control(name="name" type="text")
		if errors
			each err in errors
				p #{err.message}
		.form-group
			button.btn.btn-success.btn-block(type="submit") Создать