extends ../layouts/main.pug

block content
  .jumbotron
      .display-4 Ny, privet
      p.lead Eto hexlet backend project lvl 4. This element is jumbotron!
      hr.my-4
      a.btn.btn-primary.btn-lg(href='hexlet.io' role="button") Click me to learn more &raquo;
